focus-visible:outline-offset-[-4px] hover:bg-gray-900/5 

hover:scale-110 transition-transform duration-300

hover:translate-y-[-10px] transition-transform duration-300

hover:scale-200 transition-transform duration-300

group-hover:cursor-none group-hover:animate-warp

group-hover:[transform:perspective(1000px)_rotateX(20deg)_rotateY(20deg)] transition-transform duration-500

hover:[transform:perspective(1000px)_rotateX(10deg)_rotateY(10deg)] transition-transform duration-500

hover:[transform:perspective(800px)_rotateX(5deg)_rotateY(5deg)] transition-transform duration-500
hover:[transform:perspective(800px)_rotateX(5deg)_rotateY(5deg)_translate(2.46px,_87.39px)_scale(0.1)] transition-transform duration-500

