
  #topic_navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(246, 255, 0, 0.456);
  }

  #topic_navigation li {
    display: inline-block;
  }

  body {
    background-image: url('/00006713.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }

  /* disabled because I can't figure out how to isolate styles
  #h11-sesamechk:hover, #housesplomein:hover, #hunanbeef:hover, #mixedveg:hover, #dumplings:hover, #shrimpwlobstersc:hover, #singaporemeifun:hover, #generaltsos:hover, #shrimpwchineseveg:hover, #happyfamilydish:hover, #seafooddelight:hover, #shrimpwcashewnuts:hover {
    background-color: green;
  }
  */

  
    /* Define a highlight class */
    .highlight {
      background-color: yellow;
      transition: background-color 0.5s ease;
      padding-top: 40px;
      padding-bottom: 40px;
  }
  
  /* Floating button */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(160, 41, 41);;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.icon-position{
	margin-top:22px;
}