body {
  background-color: #D1F8FF;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* will convert later
header {
  box-shadow: 0px 4px 60px 0px #0000000F;
  border: 1.09px solid;
  border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  background: #FFFFFF59;
display: flex;
  justify-content: space-around;



border-radius: 100px;



}

#branding {
  width: 184px;
  height: 36px;
  top: 64px;
  left: 92px;
  gap: 0px;
  opacity: 0px;
  font-family: Wonton;
  font-size: 27px;
  font-weight: 400;
  line-height: 36.23px;
  text-align: left;
  background: #A02929;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 8px;
}

header nav li a{
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
*/