
  #topic_navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(246, 255, 0, 0.456);
  }

  #topic_navigation li {
    display: inline-block;
  }

  body {
    background-image: url('/00006713.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }